.module-6 .col-sm-6>h2 {
  margin-top: 91px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #ffffff;
  font-family: Archivo Narrow;
}
.module-6 .container-fluid {
  position: relative;
  min-height: 1px;
  padding-right: 37px;
  padding-left: 47px;
  background-color: #2d2323;
  display: inline-block;
}
.module-6 .col-sm-6>p {
  font-family: Source Sans Pro;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 700;
  color: #958b8b;
}
.module-6 .fy-button.fy-button-border {
  background-color: transparent;
  border-color: #c8504b;
}
.module-6 .fy-button {
  padding: 15px 36px;
  font-family: Archivo Narrow;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  border: 2px solid transparent;
  font-weight: 700;
}
.module-6 .buttons>a {
  text-decoration: none;
  color: #dfcfcf;
  font-family: Archivo Narrow;
  font-size: 15px;
}
.module-6 .buttons {
  margin-top: 36px;
}
.module-6 .fy-button.fy-button-small {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.module-6 .buttons a:hover {
  background-color: #c8504b;
}
