.page * {
  box-sizing: border-box;
}
.page .carousel-inner>.item>a>img,
.page .carousel-inner>.item>img,
.page .img-responsive,
.page .thumbnail a>img,
.page .thumbnail>img {
  display: block;
  max-width: 100%;
  height: 500px;
}
.page .carousel-caption {
  top: 189px !important;
}
.page a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom-color: #c8504b;
}
.page a {
  color: currentColor;
  border-bottom: 2px solid rgba(255,255,255,0.2);
  font-size: 45px;
}
.page p {
  font-family: Source Sans Pro;
  font-size: 20px;
}
